.tags-container-2 {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
}
.tag-x {
  width: auto;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 8px;
  font-size: 0.7rem;
  list-style: none;
  border-radius: 6px;
  margin: 0 4px 4px 0;
  background: #285698;
}

tag-2 {
  cursor: pointer;
}
/* .tag-title {
  margin: 1px;
} */
.tag-close-icon {
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 14px;
  margin-left: 8px;
  color: #285698;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.modal-inner {
  position: fixed;
  z-index: 500;
  background-color: white;
  /* width: 70%; */
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}
